h2 {
  color: #33f;
}

.supersection {
  background: #448;
  padding-top: 200px;
  color: #fff;
  height: 100%;
  font-size: 1.8em;
}

.big {
  padding-top: 200px;
  color: #2C2D38;
  height: 100%;
  font-size: 2.8em;
}

